
.html {
   background-color: rgba(255, 255, 255, 0); /* 周囲の背景色 */
}
.naka{
   margin: 10px 10px 10px 10px ;   /* 外側の余白を30pxに */
   padding: 100px;   /* 内側の余白を消す */
   background-color: rgba(255, 255, 255, 0); /* 本文部分の背景色 */
}

section{
  margin: 10px 100px 100px 10px ;   /* 外側の余白を30pxに */
  padding: 100px;   /* 内側の余白を消す */
  background-color: rgba(255, 255, 255, 0); /* 本文部分の背景色 */
}

/*ヘッダーお試し*/
header {
  position: fixed; /*ヘッダーを固定 */
  width: 100%; 
  height: 80px; 
  padding: 20px 60px; 
  box-sizing: border-box; 
  background: linear-gradient(45deg, #005bac 0%, #009efd 100%);
  top: 0; 
  left: 0; 
  display: flex; 
  align-items: center; 

 
 /* ロゴとメニューを横並びにする */
  display: flex; 
  justify-content:space-between;
}

header .nav .menu {
  display: flex; 
}

header .nav .menu li {
  list-style: none; 
  margin-left: 40px;
}

header .nav .menu li a{
 color: #fff100;
 font-weight:bold;
 text-decoration: none;
}

.hedda-taitoru{
    color:#000000;
  font-size:14px;
  font-weight:bold;

}

ol{
  list-style: none;
}

/*ヘッダー右寄せ */
.box{
  margin-bottom: 20px;
  border: #ffffff 0px solid;
}

.site-menu ul li{
   margin-right: 20px;
   display: flex;
}

   .background{
      /* 画像ファイルの指定 */
      background-image: url('jpeg/仙台育英学園沖縄高等学校.jpeg');
       
      /* 画像を常に天地左右の中央に配置 */
      background-position: center center;
       
      /* 画像をタイル状に繰り返し表示しない */
      background-repeat: no-repeat;
       
      /*固定 */
      background-attachment: fixed;
       
      /* 背景画像を調整 */
      background-size: cover;
       
      /* 読み込まれる前に表示される背景のカラー */
      background-color: #ffffff00;

      background-color:#ffffff81(255, 255, 255, 0.404);
      
      background-blend-mode:lighten;

      /*背景投下の調節*/
      background-color: rgba(255, 255, 255, 0.685);
    }



 .img-float-left{
   float:left
   padding 0 !important;
   margin:0 1em 1em 0;
 }
 .img-float-left img{
   display:block;
 }

 /*トップに戻るホバー*/
 .btn-box{
   position: absolute;
   top: 500%;
   left: 50%;
   transform: translate(-50%, -50%);
   margin: 0;
 }
 
 .btn {
   display: block;
   width: 200px;
   height: 78px;
   line-height: 78px;
   font-size: 24px;
   text-decoration: none;
   background-color: #f15a4a;
   color: #fff;
   text-align: center;
   cursor: pointer;
   -webkit-transition: 0.5s all;
   transition: 0.5s all;
 }
 
 .btn:hover {
   background-color: #fff;
   border: 2px solid #f15a4a;
   color: #f15a4a;
 }

 .centering_parent {
  padding: 20px;              /* 余白指定 */
  text-align:  center;        /* 中央寄せ */
  background-color:  #dddddd00;    /* 背景色指定 */
  height: 100px;              /* 高さ指定 */
}


.box26 p {
  margin: 0; 
  padding: 0;
}




.lion { 
  margin-right: 20px; /* lion 側の右に余白を追加 */ 
} 
.syasinn { 
  margin-left: 20px; /* syasinn 側の左に余白を追加 */
}

.bar-{
  display: flex;
}
.gw{
  padding: 10%;
}



/*オープンキャンパスの様子画像配置*/
.lion{
  text-align: left;  /* 文章を左寄せする(※) */
  float: left;     /* 左端に寄せて、後続を右側へ回り込ませる */
}
.img-float  {
  text-align: right; /* 文章を右寄せする */
}

/*リオン君関連*/
   /*リオン君吹き出し*/
   .box23{
     position: relative;
     margin: 2em 0 2em 40px;
     padding: 8px 15px;
     background: #fff0c6;
     border-radius: 30px;
   }    
   .box23:before{font-family: 
     position: absolute;
     font-size: 15px;
     left: -40px;
     bottom: 0;
     color: #fff0c6;
   }
   .box23:after{
     font-family: ;
     content: "\f111";
     position: absolute;
     font-size: 23px;
     left: -23px;
     bottom: 0;
     color: #fff0c6;
   }
   .box23 p {
     margin: 0; 
     padding: 0;
   }

   /*リオン君バウンド*/
    .lion{
      padding:0 !important;
      animation: bound .3s ease infinite alternate;
 }
 @keyframes .bound{
   0%    {transform: translateY(0px);}
   100%  {transform: translateY(-10px);}
 }


 /*エム*/
 
   