
.html {
   background-color: rgba(255, 255, 255, 0); /* 周囲の背景色 */
}
.naka{
   margin: 10px 10px 10px 10px ;   /* 外側の余白を30pxに */
   padding: 100px;   /* 内側の余白を消す */
   background-color: rgba(255, 255, 255, 0); /* 本文部分の背景色 */
}
section{
  margin: 10px 100px 100px 10px ;   /* 外側の余白を30pxに */
  padding: 100px;   /* 内側の余白を消す */
  background-color: rgba(255, 255, 255, 0); /* 本文部分の背景色 */
}


.hedda-{
  height: 110px; 
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
}
ol{
  list-style: none;
}

/*ヘッダー右寄せ */
.box{
  margin-bottom: 20px;
  border: #ffffff 0px solid;
}

/*ヘッダー*/
.list02 {
  display: flex;
  justify-content: flex-end;
  align-items: right;
  list-style: none;
  padding: 0px 10px 0px;
  border-right: #ddd 4px solid;
  }
  
  li:last-child {
    border-right: none;
  }
  




button{
  background-color:rgba(255, 255, 255, 0);
  border:none;
  padding:10px 20px;
/* margin-rightをautoにすることで右寄せ出来ます */
  margin:0 20px 0 auto;
}




.site-menu ul li{
   margin-right: 20px;
}

.site-menu ul{
   display: flex;
}
   .background{
      /* 画像ファイルの指定 */
      background-image: url('jpeg/仙台育英学園沖縄高等学校.jpeg');
       
      /* 画像を常に天地左右の中央に配置 */
      background-position: center center;
       
      /* 画像をタイル状に繰り返し表示しない */
      background-repeat: no-repeat;
       
      /*固定 */
      background-attachment: fixed;
       
      /* 背景画像を調整 */
      background-size: cover;
       
      /* 読み込まれる前に表示される背景のカラー */
      background-color: #ffffff00;

      background-color:#ffffff81(255, 255, 255, 0.404);
      
      background-blend-mode:lighten;

      /*背景投下の調節*/
      background-color: rgba(255, 255, 255, 0.685);
    }

    

.h1 {
  color: rgb(156, 37, 37);
}

 .lion{
   padding:0 !important;
   animation: bound .3s ease infinite alternate;
 }
 @keyframes bound{
   0%    {transform: translateY(0px);}
   100%  {transform: translateY(-10px);}
 }

 .img-float-left{
   float:left
   padding 0 !important;
   margin:0 1em 1em 0;
 }
 .img-float-left img{
   display:block;
 }

 /*トップに戻るホバー*/
 .btn-box{
   position: absolute;
   top: 500%;
   left: 50%;
   transform: translate(-50%, -50%);
   margin: 0;
 }
 
 .btn {
   display: block;
   width: 200px;
   height: 78px;
   line-height: 78px;
   font-size: 24px;
   text-decoration: none;
   background-color: #f15a4a;
   color: #fff;
   text-align: center;
   cursor: pointer;
   -webkit-transition: 0.5s all;
   transition: 0.5s all;
 }
 
 .btn:hover {
   background-color: #fff;
   border: 2px solid #f15a4a;
   color: #f15a4a;
 }

 .centering_parent {
  padding: 20px;              /* 余白指定 */
  text-align:  center;        /* 中央寄せ */
  background-color:  #dddddd00;    /* 背景色指定 */
  height: 100px;              /* 高さ指定 */
}


.box26 p {
  margin: 0; 
  padding: 0;
}


header {
  width: 100%;
  background: #ffffff;
  position: fixed;
  top: 0;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #ffffff;
}


.lion{
  text-align: left;  /* 文章を左寄せする(※) */
  float: left;     /* 左端に寄せて、後続を右側へ回り込ませる */
}
.img-float  {
  text-align: right; /* 文章を右寄せする */
}

/*リオン君吹き出し*/
.box23{
  position: relative;
  margin: 2em 0 2em 40px;
  padding: 8px 15px;
  background: #fff0c6;
  border-radius: 30px;
}
.box23:before{font-family: 
  content: "\f111";
  position: absolute;
  font-size: 15px;
  left: -40px;
  bottom: 0;
  color: #fff0c6;
}
.box23:after{
  font-family: ;
  content: "\f111";
  position: absolute;
  font-size: 23px;
  left: -23px;
  bottom: 0;
  color: #fff0c6;
}
.box23 p {
  margin: 0; 
  padding: 0;
}


 /*エム*/
 
   