
.html {
   background-color: rgba(255, 255, 255, 0); /* 周囲の背景色 */
}
.naka{
   margin: 10px 10px 10px 10px ;   /* 外側の余白を30pxに */
   padding: 100px;   /* 内側の余白を消す */
}

section{
  margin: 10px 100px 100px 10px ;   /* 外側の余白を30pxに */
  padding: 100px;   /* 内側の余白を消す */
  background-color: rgba(255, 255, 255, 0); /* 本文部分の背景色 */
}

/*リンク*/
a{
  text-decoration: none; 
}

/*リンクホバー*/
.rink a:hover{
  color : #005bac;
}
.box a:hover{
  color : #005bac;
}

header .nav .menu li a:hover{
  color : #ffffff;
}

/*ヘッダー*/
header {
  position: fixed; /*ヘッダーを固定 */
  width: 100%; 
  height: 80px; 
  padding: 60px 60px; 
  box-sizing: border-box; 
  background: linear-gradient(45deg, #ffffff 0%, #005bac 100%);
  top: 0; 
  left: 0%; 
  display: flex; 
  align-items: center; 
  z-index: 100;

  /* ロゴとメニューを横並びにする */
  display: flex; 
  justify-content:space-between;
}



header .nav .menu {
  display: flex; 
}

header .nav .menu li {
  list-style: none; 
  margin-left: 40px;
}

header .nav .menu li a{
 color: #fff100;
 font-weight:bold;
 text-decoration: none;
}



.hedderlogo{
  position: fixed;
  top: 0%; 
  left: 0; 
  align-items: left; 
}

.heddertitle{
  position: fixed;
  width: 25px; 
  height: 25px; 
  top: -2%; 
  left: 10%;    
  color:#000000;
  font-size:20px;
  font-weight:bold;
}
ol{
  list-style: none;
}

.maintitle{
  color:#000000;
  font-size:200px;
  font-weight:bold;
  text-align:  center;
  background: linear-gradient(transparent 50%, #bde4f7 50%);
  padding: 0 0.1em;
}


/*フッター*/
footer{
  background-color: #ffffff;
}
footer a{
	color:#000000;
}


/*目次*/
.mokuji{
  color:#000000;
  font-size:70px;
  font-weight:bold;
  text-decoration: none;
  left: 10%;
}
.box a{
	color:#535353;
}

.box{
  color: #668ad8;/*文字色*/
  border: dashed 2px #668ad8;/*破線 太さ 色*/
  background: #f1f8ff; /*背景色*/
  padding: 0.5em 0.5em 0.5em 2em;
  text-decoration: none;
}

.box li{
  line-height: 1.5;
  padding: 0.5em 20;
  color:#000000;
  font-size:40px;
  font-weight:bold;
  list-style: none;
  text-decoration: none;
}



/*背景画像*/
body{
      /* 画像ファイルの指定 */
      background-image: url('jpeg/仙台育英学園沖縄高等学校.jpeg');
       
      /* 画像を常に天地左右の中央に配置 */
      background-position: center center;
       
      /* 画像をタイル状に繰り返し表示しない */
      background-repeat: no-repeat;
       
      /*固定 */
      background-attachment: fixed;
       
      /* 背景画像を調整 */
      background-size: cover;
       
      /* 読み込まれる前に表示される背景のカラー */
      background-color:#ffffff81(255, 255, 255, 0.404);
      
      background-blend-mode:lighten;

      /*背景投下の調節*/
      background-color: rgba(255, 255, 255, 0.685);
    }


/*参加してわかる本校のこと*/
 .octitle{
  color:#000000;
  font-size:35px;
  font-weight:bold;
  line-height:150%;

 }
 .ocwotoosite{
   color:#000000;
   font-size:25px;
   font-weight: normal;
   line-height:150%;
   padding: 0.5em 1em;
   margin: 2em 0;
   color: #252525;
   background: #e4fcff;/*背景色*/
   box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);/*影*/
  }



  .oc1{
    color:#000000;
    font-size:30px;
    font-weight:bold;
    line-height:150%;
    position: relative;
    padding-left: 1.2em;/*アイコン分のスペース*/
    line-height: 1.4;
  }
  .oc1:before {
    font-family: "Font Awesome 5 Free";
    content: "\f14a";/*アイコンのユニコード*/
    font-weight: 900;
    position: absolute;/*絶対位置*/
    font-size: 1em;/*サイズ*/
    left: 0;/*アイコンの位置*/
    top: 0;/*アイコンの位置*/
    color: #5ab9ff; /*アイコン色*/
    font-weight: 900;
  }

 .oc2{
   color:#000000;
   font-size:30px;
   font-weight:bold;
   line-height:150%;
   position: relative;
   padding-left: 1.2em;/*アイコン分のスペース*/
   line-height: 1.4;
  }
  .oc2:before {
    font-family: "Font Awesome 5 Free";
    content: "\f14a";/*アイコンのユニコード*/
    font-weight: 900;
    position: absolute;/*絶対位置*/
    font-size: 1em;/*サイズ*/
    left: 0;/*アイコンの位置*/
    top: 0;/*アイコンの位置*/
    color: #5ab9ff; /*アイコン色*/
    font-weight: 900;
  }




/*来場者の声*/
 .nititle{
  color:#000000;
  font-size:40px;
  font-weight:bold;
  line-height:0%;
 }

.item-list {
  display: flex;
  justify-content: space-between;
}
.item-list .item {
  width: 30%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.item-list .item .image {
  margin: 0;
  padding: 0;
}
.item-list .item .image img {
  width: 50%;
}
.item-list .item .title {
  margin: 10px 0 0;
  padding: 0;
  font-weight: bold;
  font-size: 20px;
}
.item-list .item .description {
  margin: 5px 0 0;
  padding: 0;
  font-size: 16px;
}

.item-list{
  padding: 0.5em 1em;
  margin: 0em 0;
  color: #5d627b;
  background: white;
  border-bottom: solid 5px #5d627b;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
  border-radius: 10px;/*角の丸み*/
}
.item-list p {
  margin: 0; 
  padding: 0;
  padding: 0px;              /* 余白 */
  text-align:  left;        /* ひだり寄 */
}



 .img-float-left{
   float:left
   padding 0 !important;
   margin:0 1em 1em 0;
 }
 .img-float-left img{
   display:block;
 }



 /*トップに戻るホバー*/
 .btn-box{
  position: absolute;
  top: 500%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}
 
 .btn {
   display: block;
   width: 200px;
   height: 78px;
   line-height: 78px;
   font-size: 24px;
   text-decoration: none;
   background-color: #005bac;
   color: #ffffff;
   text-align: center;
   cursor: pointer;
   transition: 0.5s all;
 }
 
 .btn:hover {
   background-color: #fff100;
   border: 2px solid #005bac;
   color: #005bac;
 }

/*概要試し*/
.gaiyou {
  margin: 120px;
  top: 100px;
  background: #dcefff;
}
.gaiyou .box-title {
  font-size: 40px;
  background: #005bac ;
  padding: 4px;
  text-align: center;
  color: #ffffff;
  font-weight: bold;
  letter-spacing: 0.05em;
}
.gaiyou p {
  padding: 15px 20px;
  margin: 0;
  text-align:  center;
  font-size: 20px;
}
.gaiyou{
text-align:  center;
}
.jikann{
  color:#000000;
  font-size:20px;
  font-weight:bold;
  line-height:150%;  
}


.box26 p {
  margin: 0; 
  padding: 0;
}



.lion { 
  margin-right: 20px; /* lion 側の右に余白を追加 */ 
} 
.syasinn { 
  margin-left: 20px; /* syasinn 側の左に余白を追加 */
}

.bar-{
  display: flex;
}
.gw{
  padding: 10%;
}



/*オープンキャンパスの様子画像配置*/
.lion{
  text-align: left;  /* 文章を左寄せする(※) */
  float: left;     /* 左端に寄せて、後続を右側へ回り込ませる */
  z-index: 0;
}
.img-float  {
  text-align: right; /* 文章を右寄せする */
  z-index: 0;
}

/*リオン君関連*/
   .yousu{
     font-size: 50px;
     bottom: 0;
     color: #000000;
     font-weight: 1000;
     text-align:  center;
      z-index: 0;
    }



   /*リオン君吹き出し*/
   .box23{
     position: relative;
     margin: 2em 0 2em 40px;
     padding: 8px 15px;
     background: #fff0c6;
     border-radius: 30px;
   }    
   .box23:before{font-family: 
     position: absolute;
     font-size: 15px;
     left: -40px;
     bottom: 0;
     color: #fff0c6;
   }
   .box23:after{
     font-family: ;
     content: "\f111";
     position: absolute;
     font-size: 23px;
     left: -23px;
     bottom: 0;
     color: #fff0c6;
   }
   .box23 p {
     margin: 0; 
     padding: 0;
   }

   /*リオン君バウンド*/
    .lion{
      padding:0 !important;
      animation: bound .3s ease infinite alternate;
 }
 @keyframes .bound{
   0%    {transform: translateY(0px);}
   100%  {transform: translateY(-10px);}
 }

/*試しし*/


 /*エム*/
 
   