#sample1 img {
  width: 300px;
  height: 200px;
}
#sample1 a:hover img {
  opacity: 0.8;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80); /* for IE 4以上 */
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80); /* for IE 8以上 */
  background: rgb(165, 122, 122)(10, 0, 0);
}

