
/* タイトルとｋ文字*/
h5{
  text-align: center;
}
h3{
  text-align: center;
}
h1{
  text-align: center;
}
h4{
  text-align: center;
}
/*タイトル　アニメーション*/

/*写真*/
.msg{
  font-size: 20px;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
 }
 .msg-01, .msg-02{
  text-shadow: 2px 2px 3px #000, -1px -1px 3px #f8f1f1;
 }
 .img-03.cover::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(109, 77, 77, 0.7);
 }
 .msg-03{
  z-index:1;
 }
 img{
  border:double 5px #ffffff;
 }

/*写真の配置（中央に）*/
ul {
  display: flex;
}
li {
  width: 30%;
  text-align: center;
}
img {
  width: 50%; /* 親であるliの幅に対しての割合 */
}
ul,
ol{
  list-style:none;
} 
/*写真の大きさを揃える*/
img{
  width: 100%;
  height: 220px;
  object-fit: cover;
}
/*写真ズーム*/
.img {
  display: inline-block;
  overflow: hidden;
}
.img {
  display: block;
  transition-duration: .5s;
}
.img:hover {
  transform: scale(1.2);
}

/*フッター*/
footer{
  background-color: midnightblue;
  color: #ffffff
  color: #ffa001
}



.c-btn,
.c-bnr,
.c-txt {
  cursor: pointer;
  transition: .2s cubic-bezier(0.45, 0, 0.55, 1);
}

 body {
  background-color: #8bf1f1;
  
  /*背景テスト*/
  body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }



@keyframes textanimation {
    0% {
        transform: translateY(2em);
    }

    100% {
        transform: translateY(0);
    }
}

/*写真アニメーション*/
//HTML
<div class="url(jpeg/usmk画像1.png)"></div>
 
//CSS
.夕涼み会/jpeg/usmk画像1.png {
  background: linear-gradient(to right, #362ae0 0%,#3b79cc 50%,#42d3ed 100%);
  width: 50px;
  height: 50px;
  opacity: 0;
  padding-bottom: 40px;
}
.kurukuru.is-animated {
  animation: kurukuru 2.4s ease-out;
  opacity: 1;
}
@keyframes kurukuru {
  0%{
    transform: rotateY(0) translateY(40px);
    opacity: 0;
  }
  100%{
    transform: rotateY(360deg) translateY(0);
    opacity: 1;
  }
}