div {
  text-align: center;
}
ul {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

img {
  image:url(https://fontmeme.com/permalink/250217/35f9010d33d83058aeb8c348f2f5364e.png);        /* 画像のURLを指定       */
  width: 500px;
  margin: 20px;
}

img {
    image:url(https://fontmeme.com/permalink/250211/6388e929f0ecbf656fa8d8d5376b1e2c.png);         /* 画像のURLを指定       */
    width: 500px
    margin: 20px;
}

.container {
    display: flex;
    justify-content: space-around; /* 画像の間に均等に余白を設定 */
}
.container img {
    width: 50px; /* 画像が3つ並ぶように設定 */
    height: auto;
}  

.container {
    display: flex;
    justify-content: space-around; /* 画像の間に均等に余白を設定 */
}
.container img {
    width: 50%; /* 画像が2つ並ぶように設定 */
    height: auto;
}  
.container {
    display: flex;
    justify-content: space-around; /* 画像の間に均等に余白を設定 */
}
.container img {
    width: 50%; /* 画像が3つ並ぶように設定 */
    height: auto;
}
.container {
    display: flex;
    justify-content: space-around; /* 画像の間に均等に余白を設定 */
}
.container img {
    width: 50%; /* 画像が1つ並ぶように設定 */
    height: auto;
}  

#pagetop {
    position: fixed;
    right: 0;
    bottom: 0;
    text-indent: -9999px;
    margin: 0;
}
#pagetop a {
    position: relative;
    display: block;
    width: 65px;
    height: 65px;
    background: rgba(0,0,0,1);
    transition: opacity .6s ease;
}
#pagetop a:hover {
    opacity: .3;
}
#pagetop a::before {
    position: absolute;
    top: 7px;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 14px;
    height: 14px;
    margin: auto;
    content: '';
    transform: rotate(-45deg);
    border-top: 1px solid #FFF;
    border-right: 1px solid #FFF;
}
@media screen and (max-width:767px) {
#pagetop a {
    width: 45px;
    height: 45px;
}
#pagetop a::before {
    top: 5px;
    width: 10px;
    height: 10px;
}
}