

img {
  max-width: 200px;
  max-height: 200px;
  width: auto;
  height: auto;
}




.box {
  width: 200px;  /* 横幅を200pxに指定 */
  height: 200px; /* 高さを200pxに指定 */
  animation: image_anime 5s ease infinite; /* 5秒のアニメーションを繰り返す */
}
@keyframes image_anime {
  0% {
    background-image: url(/文化祭/jpeg/IMG_8786.jpg); /* 背景画像1を指定 */
  }
  50% {
    background-image: url(/文化祭/jpeg/ikueiokinawa_01.jpg); /* 背景画像2を指定 */
  }
  100% {
    background-image: url(/文化祭/jpeg/キャラクター.png); /* 背景画像1を指定 */
  }
}
