body {
    margin:0;
    width: 100vw;
    height: 100vh;
    background-image:("文化祭/jpeg/仙台育英沖縄校png.jpg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
}


.pic1{
    width: 100px;
    height: 100px;
}


.pic2{
    width: 100px;
    height: 100px;
}

.pic3{
    width: 100px;
    height: 100px;}

.pic4（ img{
    width: 100px;
    height: auto;}

.pic5（ img{
    width: 100px;
    height: auto;}

.pic6（ img{
    width: 100px;
    height: auto;}

.pic7（ img{
    width: 100px;
    height: auto;}

.pic8（ img{
    width: 100px;
    height: auto;}

.pic9（ img{
    width: 100px;
    height: auto;}

.pic10（ img{
    width: 100px;
    height: auto;}